body{
    font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
    margin:0;
    background: linear-gradient(to right,rgb(3, 36, 58),rgb(9, 67, 85));
}
p{
    color: darkblue;
}

header{
    background:linear-gradient(to right,skyblue,white);
    color:darkblue;
    padding-bottom:8px;
    padding-top: 2px;
    text-align:center;
}
.Navigation ul {
    display: flex;
    list-style: none; 
    margin: auto;
    padding: 5px;
}

.Navigation li {
    margin-left: 25px;
}

.Navigation a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.Navigation a:hover {
    color: #0758af; 
}

.container{
    width:80%;
    margin:auto;
    margin-top:20px;
}

.card{
    background:linear-gradient(to right,white,rgb(189, 183, 183));
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.1);
}

.profile{
    display:flex;
    align-items:center;
}

.profile img{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-right:20px;
}

h2{
    color:#0a66c2;
}

.skills span{
    background:linear-gradient(rgb(176, 226, 246),white);
    padding:6px 12px;
    margin:5px;
    display:inline-block;
    border-radius:10px;
}

a{
    color:#0a66c2;
    text-decoration:none;
}

footer{
    text-align:center;
    padding: 2px;
    background:#7b7b7b;
    color:darkblue;
}
